#primeiroTitulo{
	font-size: 25px;
	font-family: Times New Roman;
	text-align: left;
	font-weight: bold;
}
#subTitulo{
	font-size: 15px;
	background-color: LightGray;
}
#formulario{
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: black;
	background-color: white;
	font-family: Calibri;
	padding: 5px 10px;
}
#peticoes{
	font-size: 18px;
	font-weight: bold;
}
#botoes{
	font-weight: normal;
	vertical-align: middle;
	font-size: 15px;
}
body{
	margin: 100px 350px 150px 350px;
	background-color: LightGray;
}
p{
	text-align: justify;
}
